{{page-title "Buku"}}

<h1>Buku</h1>
<p>
    Ini juga termasuk buku <a href="/sejarah">sejarah</a>. Sekarang baru lebih benar.
    Sebetulnya juga termasuk <em>novel</em>, seperti misalnya, Feng Shen Yan Yi (封神演義).
    Ini sekaligus contoh untuk <a href="/drama">referensi ke drama</a>. 
</p>
{{outlet}}
