{{page-title "Drama"}}

<h1>Investiture of The Gods (2019)</h1>
<a href="https://www.youtube.com/playlist?list=PLRN24eqWbeuuz2QDNpmUY-QF7wfGEK-wp">
<img src="/images/ep01-dixin.jpg" alt="The Gods (2019)" style="padding:10px;float:left;">
</a>
<p>
    Investiture of The Gods, atau Feng Shen Yan Yi, adalah novel dari era Dinasti Ming (abad ke-16), yang sudah sering
    diadaptasikan menjadi drama televisi, opera, atau film layar lebar. Novel ini menampilkan banyak tokoh sejarah dari
    era peralihan dari Dinasti Shang ke Dinasti Zhou, di mana Raja Zhou dari Shang, yaitu Di Xin, ditumbangkan oleh pemberontakan 
    Ji Fa dari wilayah Zhou.
</p>
{{outlet}}
