{{page-title "Sejarah"}}

<div class="w3-container">
    <img src="/images/history.png" alt="Sejarah" style="padding:5px;float:left;margin-top:10px">
    <h1>Sejarah</h1>
    <p>
        Tab ini tidak hanya digunakan untuk <em>sejarah</em>, seharusnya lebih global, yaitu <em>buku</em>,
        sesuai dengan icon yang terkait. Membuatnya lebih spesifik untuk sejarah akan menimbulkan kesalahpahaman.
    </p>
</div>

{{outlet}}
